

.mainContainer{
    background: url("../images/pageBackground2.png");
    background-size: cover;
    background-repeat: no-repeat;
    min-height:900px;
    color:rgb(240, 179, 12);
    
}

/*this doesnt change the jumbo tron background why?*/
 #topBox{
     background-color: rgb(157, 141, 236);
     color:rgb(240, 179, 12);
 };


